nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
}


.navbar{
    display: flex;
    list-style: none;
    align-content: space-between;
    gap: 20pt;
    color: #0c1753;
    font-family: "Quicksand";
    font-size: 20pt;
    font-weight: bolder;
    padding-right: 40px;
    padding-top: 20px;
}

.first{
    width: 100%;
    height: 600px;
    border-radius: 5px;
    margin: 50px auto;
    background: linear-gradient(180deg, grey , #ad99f5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div1{
    font-family: "Quicksand";
    font-size: 20pt;
    font-weight: bolder;
    color:white;
    padding-left: 80px;
    padding-top: 100px;

}
.div1 h4{
    width: 450px;
}

.div1 button{
color: #00a69c;
background-color: #ffe101;
font-family: "Quicksand";
font-weight: bolder;
font-size: 35pt;
width: 250px;
border-radius: 12px;
border-style: none;
box-shadow: 10px 10px 10px gray;
}

.first img{
    max-height: 70%;
    justify-items:center;
    align-content: center;
    margin-top: 70px;
}

.second{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #00a69c;
    font-family: "Quicksand";
font-weight: bolder;
font-size: 25pt;

}

.third{
    display: flex;
    flex-direction: row;
    background-color:#f4f1ff ;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    
  
}

.box1{
background-color: white;
box-shadow: 5px 5px 18px gray;
margin-top: 10px;
margin-bottom: 10px;
width: 400px;
height: 400px;
}


.ux{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #fee552;
    left: 100px;
    top:100px;
}
.box2{
    background-color: white;
    box-shadow: 5px 5px 18px gray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;

}
.frontend{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #fee552;
    left: 100px;
    top:100px;
}

.box3{
    background-color: white;
    box-shadow: 5px 5px 18px gray;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    height: 400px;
    
}
.support{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #fee552;
    left: 100px;
    top:100px;
}

.third h3{
    font-family: "Quicksand";
    font-weight: 900;
    font-size: 25pt; 
    color:#030822; 
    margin-left: 140px;
    margin-top: 120px;
}

.firstrec{
    font-family: "Quicksand";
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 50px auto;
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #0c1753;
}

.firstrec img{
    height: 80%;
    width: auto;
margin-left: 200px;
}

.firstrec h2{
    color: #00a69c;
}

.rightpar{
    font-weight: lighter;
    margin-top: 70px;
    margin-right: 35px;
    margin-left: 150px;
}


.secondrec{
    font-family: "Quicksand";
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 50px auto;
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #0c1753;
}

.secondrec img{
    height: 90%;
    width: auto;
    margin-right: 70px;
}

.secondrec h2{
    color: #00a69c;
}

.leftpar{
    font-weight: lighter;
    margin-top: 70px;
   padding-left: 50px;
   margin-right: 220px;
}


.thirdrec{
    font-family: "Quicksand";
    width: 100%;
    height: 450px;
    border-radius: 5px;
    margin: 50px auto;
    background:white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #0c1753;
}

.thirdrec img{
    height: 90%;
    width: auto;
margin-left: 200px;
}

.thirdrec h2{
    color: #00a69c;
}

.rightpar2{
    font-weight: lighter;
    margin-top: 70px;
    margin-right: 35px;
    margin-left: 150px;
}

.fifth{
    display: flex;
    background-color: #0c1753;
    color: white;
    font-family: "Quicksand";
    font-weight: bolder;
    justify-content: space-between;

}

.fifth h1{
padding-right: 0px;
padding-left: 50px;
font-size: 35pt;
margin-left: 50px;
}

.fifth h3{
    font-size: 20pt;
}

.rightform{
display: flex;
flex-wrap: wrap;
margin-left: 130px;
}

.form{

}
.firstline{
   display: flex;
   justify-content: space-between;
   color: #0c1753;
}

label{
   
}
.firstlabel{
    width: 290px;
    height: 50px;
    border-radius: 8px;
    padding-left: 10px;
}

.secondlabel{
    width: 290px;
    height: 50px;
    border-radius: 8px;
    padding-left: 10px;
}

.thirdlabel{
    width: 612px;
    height: 50px;
    border-radius: 8px;
    padding-left: 10px;
}

.fourthlabel{
    width: 612px;
    height: 50px;
    border-radius: 8px;
    padding-left: 10px;
}

.fifthlabel{
   display: flex;
    width: 612px;
    height: 50px;
    border-radius: 8px;
    padding-bottom: 100px;
    padding-left: 10px;

}

.fifth button{
    background-color: #ffe101;
    color: #0c1753;
    font-size: 35pt;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
    width: 628px;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: space-evenly;
}

.footerlogo img{
width: 350px;
padding: 40px;
}

.footer h2{
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: 30pt;
    color: #00a69c;
}

/*
.space{
    display: flex;
    gap: 50px;
}*/

.footerfirst{
    display: flex;
    flex-direction: column;
    
}


.footerlist1{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
    color: #0c1753;
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: 25pt;
}

.footersecond{
    display: flex;
    flex-direction: column;
    padding-left: 90px;
}
.footerlist2{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-content: space-between;
    gap: 20px;
    color: #0c1753;
    font-family: "Quicksand";
    font-weight: bolder;
    font-size: 25pt;
}

.footerthird{
padding-left: 50px;
}

.footerthird img{
    width: 90%;
}

.copyrights{
    background: linear-gradient(180deg, grey , #ad99f5);
    color: white;
    font-family:"Quicksand";
    text-align: center;
    display: flex;
    justify-content: center;
}